<div id="features">
    <div class="container">
        <div class="section_header">
            <h3>Profilo <span>(Caratteristiche salienti)</span></h3>
        </div> 
        <div class="row feature">
            <div class="col-sm-6">
                <%= image_tag "img/showcase1.png", class: 'img-responsive' %>
            </div>
            <div class="col-sm-6 info">
                <h3>
                    <i class="fa fa-windows fa-2x pull-left blue"></i>
                    <i class="fa fa-apple fa-2x pull-left blue"></i>
                    Multi OS
                </h3>
                <p>
                    Paperclip funziona su sistemi operativi Microsoft (xp, vista, win7, 8) e Mac OS X intel (in lavorazione...)
                </p>
            </div>
        </div>
        <div class="row feature">
            <div class="col-sm-6 pic-right">
                <%= image_tag "img/showcase2.png", class: 'pull-right img-responsive' %>
            </div>
            <div class="col-sm-6 info info-left">
                <h3>
                    <i class="fa fa-gears fa-2x pull-left blue"></i>
                    Multi Azienda
                </h3>
                <p>
                    Gestisci contemporaneamente più aziende con un click. Tutti i moduli di Paperclip sono progettati per essere utilizzati 
                    da più aziende contemporaneamente. Scegli l'azienda e lavora sul modulo che ti interessa.
                </p>
            </div>                
        </div>
        <div class="row feature">
            <div class="col-sm-6">
                <%= image_tag "img/showcase1.png", class: 'img-responsive' %>
            </div>
            <div class="col-sm-6 info">
                <h3>
                    <i class="fa fa-group fa-2x pull-left blue"></i>
                    Multi Utenza
                </h3>
                <p>
                    Configura gli utenti che accedono a Paperclip in modo semplice e intuitivo. L'accesso ai moduli è consentito, in lettura e/o scrittura,
                    solo agli utenti che hanno il relativo permesso abilitato.
                </p>
            </div>
        </div>
        <div class="row feature">
            <div class="col-sm-6 pic-right">
                <%= image_tag "img/showcase2.png", class: 'pull-right img-responsive' %>
            </div>
            <div class="col-sm-6 info info-left">
                <h3>
                    <i class="fa fa-code-fork fa-2x pull-left blue"></i>
                    <i class="fa fa-cloud fa-2x pull-left blue"></i>
                    Rete (Net/Cloud)
                </h3>
                <p>
                    Paperclip nella versione Net o Cloud è utilizzabile da più utenti in contemporanea. La versione Net si installa su una rete locale
                    mentre la versione Cloud usa la connessione internet e puoi lavorare ovunque!
                </p>
            </div>                
        </div>
    </div>
</div>

