#features
  .container
    .section_header
      h3
        | Profilo
        span (Caratteristiche salienti)
    .row.feature
      .col-sm-6
        = image_tag "img/showcase1.png", class: 'img-responsive'
      .col-sm-6.info
        h3
          i.fa.fa-windows.fa-2x.pull-left.blue
          | Multi OS
        p
          | Paperclip gira su tutti i sistemi operativi di casa Microsoft&reg; da xp a windows 8
    .row.feature
      .col-sm-6.pic-right
        = image_tag "img/showcase2.png", class: 'pull-right img-responsive'
      .col-sm-6.info.info-left
        h3
          i.fa.fa-gears.fa-2x.pull-left.blue
          | Multi Azienda
        p
          | Gestisci contemporaneamente più aziende con un click. Scegli l'azienda e lavora sul modulo che ti interessa.
    .row.feature
      .col-sm-6
        = image_tag "img/showcase1.png", class: 'img-responsive'
      .col-sm-6.info
        h3
          i.fa.fa-group.fa-2x.pull-left.blue
          | Multi Utenza
        p
          | Configura gli utenti che accedono a Paperclip in modo semplice e intuitivo. Con la versione Net e Cloud
          | utlizzi Paperclip da più macchine contemporaneamente.
