#features.features_page
  .container
    /! Feature Wrapper
    .feature_wrapper.option2
      .section_header
        h3
          | Moduli
          span (Quello che puoi fare con Paperclip)
      /! Features Row
      .row
        /! Feature
        .col-sm-6.feature
          .box
            i.fa.fa-inbox.fa-4x.pull-left.blue
          .text
            h6 Magazzino
            p
              | Configurazione prodotti, gestione degli ordini, carico e scarico del magazzino con l'ausilio del lettore di codici a barre,
              | report sulle giacenze...
        /! Feature
        .col-sm-6.feature.right
          .box
            i.fa.fa-edit.fa-4x.pull-left.blue
          .text
            h6 Fatturazione
            p
              | Proforma, fatture, corrispettivi, documenti di trasporto, stampe e reportistica.
              | Tutto quello di cui hai bisogno per documentare la tua attività.
      .row
        /! Feature
        .col-sm-6.feature
          .box
            i.fa.fa-calendar.fa-4x.pull-left.blue
          .text
            h6 Scadenzario
            p
              | Tieni sotto controllo entrate e uscite senza preoccuparti delle scadenze.
              | Registra le fatture di acquisto e vendita con un sistema flessibile di gestione incassi e pagamenti in grado
              | di soddisfare qualsiasi esigenza.
        /! Feature
        .col-sm-6.feature.right
          .box
            i.fa.fa-columns.fa-4x.pull-left.blue
          .text
            h6 Prima Nota
            p
              | Il flusso dei dati provenienti dalla registrazione delle fatture, dai corrispettivi e dallo scadenzario
              | \&egrave; completamente automatizzato. Invia al tuo commercialista il prospetto dei movimenti in formato elettronico.
      /! Features Row
      .row.last
        /! Feature
        .col-sm-6.feature
          .box
            i.fa.fa-signal.fa-4x.pull-left.blue
          .text
            h6 Bilancio
            p
              | L'aspetto pi&ugrave; interessante della gestione di un'attivit&agrave; &egrave; dato dalla capacit&agrave;
              | di tenere i conti sotto controllo. Paperclip ti aiuta ad analizzare gli aspetti contabili che ti hanno portato dove sei.
        /! Feature
        .col-sm-6.feature.right
          .box
            i.fa.fa-eur.fa-4x.pull-left.blue
          .text
            h6 Liquidazioni IVA
            p
              | In ogni momento hai la situazione IVA sotto controllo (mensile o trimestrale), basta un click!
              | \...e un altro per stamparla.
