<div id="features" class="features_page">
    <div class="container">
      <!-- Feature Wrapper -->
      <div class="feature_wrapper option2">
          <div class="section_header">
              <h3>Moduli <span>(Quello che puoi fare con Paperclip)</span></h3>
          </div>

          <!-- Features Row -->
          <div class="row">
              <!-- Feature -->
              <div class="col-sm-6 feature">
                  <div class="box">
                      <i class="fa fa-inbox fa-4x pull-left blue"></i>
                  </div>
                  <div class="text">
                    <h6>Magazzino </h6>
                    <p>
                      Configurazione prodotti, gestione degli ordini, carico e scarico del magazzino con l'ausilio del lettore di codici a barre, 
                      report sulle giacenze...
                    </p>
                  </div>
              </div>
              <!-- Feature -->
              <div class="col-sm-6 feature right">
                  <div class="box">
                      <i class="fa fa-edit fa-4x pull-left blue"></i>
                  </div>
                  <div class="text">
                    <h6>Fatturazione </h6>
                    <p>
                      Proforma, fatture, corrispettivi, documenti di trasporto, stampe e reportistica. 
                      Tutto quello di cui hai bisogno per documentare la tua attività.
                    </p>
                  </div>
              </div>
          </div>

          <div class="row">
              <!-- Feature -->
              <div class="col-sm-6 feature">
                  <div class="box">
                      <i class="fa fa-calendar fa-4x pull-left blue"></i>
                  </div>
                  <div class="text">
                      <h6>Scadenzario </h6>
                      <p>
                        Tieni sotto controllo entrate e uscite senza preoccuparti delle scadenze.
                        Registra le fatture di acquisto e vendita con un sistema flessibile di gestione incassi e pagamenti in grado 
                        di soddisfare qualsiasi esigenza.</p>
                  </div>
              </div>
              <!-- Feature -->
              <div class="col-sm-6 feature right">
                  <div class="box">
                      <i class="fa fa-columns fa-4x pull-left blue"></i>
                  </div>
                  <div class="text">
                      <h6>Prima Nota </h6>
                      <p>
                        Il flusso dei dati provenienti dalla registrazione delle fatture, dai corrispettivi e dallo scadenzario 
                        &egrave; completamente automatizzato. Invia al tuo commercialista il prospetto dei movimenti in formato elettronico.</p>
                  </div>
              </div>
          </div>

          <!-- Features Row -->
          <div class="row last">
              <!-- Feature -->
              <div class="col-sm-6 feature">
                  <div class="box">
                      <i class="fa fa-signal fa-4x pull-left blue"></i>
                  </div>
                  <div class="text">
                      <h6>Bilancio </h6>
                      <p>
                        L'aspetto pi&ugrave; interessante della gestione di un'attivit&agrave; &egrave; dato dalla capacit&agrave; 
                        di tenere i conti sotto controllo. Paperclip ti aiuta ad analizzare gli aspetti contabili che ti hanno portato dove sei.</p>
                  </div>
              </div>
              <!-- Feature -->
              <div class="col-sm-6 feature right">
                  <div class="box">
                      <i class="fa fa-eur fa-4x pull-left blue"></i>
                  </div>
                  <div class="text">
                      <h6>Liquidazioni IVA </h6>
                      <p>
                        In ogni momento hai la situazione IVA sotto controllo (mensile o trimestrale), basta un click!
                        ...e un altro per stamparla.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
