<div id="features" class="features_page">
    <div class="container">
      <!-- Feature Wrapper -->
      <div class="feature_wrapper option2">
          <div class="section_header">
              <h3>Moduli <span>(Quello che puoi fare con Paperclip)</span></h3>
          </div>

          <!-- Features Row -->
          <div class="row">
              <!-- Feature -->
              <div class="col-sm-6 feature">
                  <div class="box">
                      <i class="fa fa-inbox fa-4x pull-left blue"></i>
                  </div>
                  <div class="text">
                      <h6>Magazzino </h6>
                          There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.</p>
                  </div>
              </div>
              <!-- Feature -->
              <div class="col-sm-6 feature right">
                  <div class="box">
                      <i class="fa fa-edit fa-4x pull-left blue"></i>
                  </div>
                  <div class="text">
                      <h6>Fatturazione </h6>
                      <p>
                          There are many variations of passages of generators on the  .</p>
                  </div>
              </div>
          </div>

          <div class="row">
              <!-- Feature -->
              <div class="col-sm-6 feature">
                  <div class="box">
                      <i class="fa fa-calendar fa-4x pull-left blue"></i>
                  </div>
                  <div class="text">
                      <h6>Scadenzario </h6>
                      <p>
                          There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.</p>
                  </div>
              </div>
              <!-- Feature -->
              <div class="col-sm-6 feature right">
                  <div class="box">
                      <i class="fa fa-columns fa-4x pull-left blue"></i>
                  </div>
                  <div class="text">
                      <h6>Prima Nota </h6>
                      <p>
                          There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.</p>
                  </div>
              </div>
          </div>

          <!-- Features Row -->
          <div class="row last">
              <!-- Feature -->
              <div class="col-sm-6 feature">
                  <div class="box">
                      <i class="fa fa-signal fa-4x pull-left blue"></i>
                  </div>
                  <div class="text">
                      <h6>Bilancio </h6>
                      <p>
                          There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.</p>
                  </div>
              </div>
              <!-- Feature -->
              <div class="col-sm-6 feature right">
                  <div class="box">
                      <i class="fa fa-eur fa-4x pull-left blue"></i>
                  </div>
                  <div class="text">
                      <h6>Liquidazioni IVA </h6>
                      <p>
                          There are many variations of passages of generators on the  embarrassing hidden in randomised words which don't look even by these distribution of letters, as opposed to using content here, content here making.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
