/! Service Option 3
#process
  .container
    .section_header
      h3
        | Opzioni
        / span (Scegli la versione per la tua azienda)
    .row.services_circles
      .col-sm-4.description
        .text.active
          h4 Single
          p
            | Si installa sulla singola macchina, non necessita di connessione internet.
        .text
          h4 Net
          p
            | Versione per la rete aziendale: può essere istallata su una o pi&ugrave; postazioni ed ha una base dati condivisa.
        .text
          h4 Cloud
          p
            ' Installa Paperclip ovunque: in ufficio, a casa o sul tuo notebook.
            ' Accedi a una base dati condivisa e completamente auto gestita.
            | Per questa configurazione e necessaria una connessione internet.
      .col-sm-7.col-xs-12.areas
        .circle.active
          i.fa.fa-laptop.fa-5x.white
          span Single
        .circle
          i.fa.fa-sitemap.fa-5x.white
          span Net
        .circle.last_circle
          i.fa.fa-cloud.fa-5x.white
          span Cloud
