<!-- Service Option 3 -->
<div id="process">
    <div class="container">
        <div class="section_header">
            <h3>Opzioni <span>(Scegli la versione per la tua azienda)</span></h3>
        </div>
        <div class="row services_circles">
            <div class="col-sm-4 description">
                <div class="text active">
                    <h4>Single</h4>
                    <p>
                      Si istalla sulla singola macchina, non necessita di connessione internet, supporta la multi utenza.</p>
                </div>
                <div class="text">
                    <h4>Net</h4>
                    <p>
                      Versione per la rete aziendale: può essere istallata su una o pi&ugrave; macchine e i dati sono condivisi su una macchina server della rete.</p>
                </div>
                <div class="text">
                    <h4>Cloud</h4>
                    <p>
                      Istalla Paperclip ovunque: in ufficio, a casa oppure dove vuoi tu. 
                      Per questa configurazione e necessaria una connessione internet.</p>
                </div>
            </div>

            <div class="col-sm-7 col-xs-12 areas">
                <div class="circle active">
                    <i class="fa fa-laptop fa-5x white"></i>
                    <span>Single</span>
                </div>
                <div class="circle">
                    <i class="fa fa-sitemap fa-5x white"></i>
                    <span>Net</span>
                </div>
                <div class="circle last_circle">
                    <i class="fa fa-cloud fa-5x white"></i>
                    <span>Cloud</span>
                </div>
            </div>
        </div>
    </div>
</div>

