/! Service Option 2
#service_2
  .container
    .section_header
      h3
        | Fatturazione
        span (Facile e veloce)
    .row.perk
      .col-sm-2.circle.circle1
        i.fa.fa-external-link.fa-5x.white
      .col-sm-10.description_wrapper
        h5 Proforma
        p
          ' Compila la fattura provvisoria, stampala e inviala in formato pdf.
          ' Una volta incassata, trasferiscila tra le fatture definitive richiamandola dal modulo fattura.
          | La compilazione è semplice e veloce. Per rendere la compilazione ancora pi&ugrave; veloce usa gli incassi ricorrenti.
    .row.perk
      .col-sm-2.circle
        i.fa.fa-laptop.fa-5x.white
      .col-sm-10.description_wrapper
        h5 Fattura fiscale
        p
          ' Compila la fattura
    .row.perk
      .col-sm-2.circle
        i.fa.fa-list-alt.fa-5x.white
      .col-sm-10.description_wrapper
        h5 Corrispettivi
        p
          ' Se hai necessità di inserire i corrispettivi, questo modulo ti permette di compilare gli incassi giornalieri
    .row.perk.last
      .col-sm-2.circle
        i.fa.fa-clipboard.fa-5x.white
      .col-sm-10.description_wrapper
        h5 Documento di trasporto
        p
          | There are many variations of passages of Lorem Ipsum available, injected generators on the  embarrassing hidden in the middle all the dictionary of  randomised words which don't look even slightly distracted by these distribution of letters, as opposed to using. Content here, content here making it look like readable English. Many desktop publishing packages and web page editors there many variation of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour or randomised words which don't look even slightly believable. If you are anything embarrassing hidden in the middle of text.
