#subscriptions {
  margin-top: 70px;

  .section_header {
    margin-bottom: 40px;
  }

  .subscription {
    margin: 30px 0 30px 0;

    p {
      color: #939394;
      font-size: 19px;
      margin-bottom: 40px;
      font-style: italic;
      line-height: 24px;
    }
  }

  .table {
    margin-bottom: attr(data-margin);
    th.center, td.center {
      text-align: center;
    }
    th.left, td.left {
      text-align: left;
    }
    th.right, td.right {
      text-align: right;
    }
  }
}

#footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
