#thank-you {
  margin-top: 70px;

  .section_header {
    margin-bottom: 20px;
  }

  .thank-you {
    margin: 20px 0 20px 0;

    p {
      color: #939394;
      font-size: 19px;
      margin-bottom: 20px;
      font-style: italic;
      line-height: 24px;
    }
  }

  .panel {
    margin-bottom: 100px;
  }
}
