doctype html
html
  head
    meta content="width=device-width, initial-scale=1.0" name="viewport"
    title= content_for?(:title) ? yield(:title) : "Papergest"
    meta content=(content_for?(:description) ? yield(:description) : "Paperclip") name="description"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  body style=("padding-top: 0px;")
    .navbar.navbar-inverse.navbar-static-top role="navigation"
      = render 'layouts/navigation'
    main role="main"
      = render 'layouts/messages'
      = yield
    footer#footer style="margin-top:0;"
      = render 'layouts/footer'
